<div class="card">
  <div routerLink="/details/{{ data.id }}">
    <img
      src="{{ data.image }}"
      class="card-img-top"
      alt="..."
      style="max-width: 100%; height: 200px"
    />
    <div class="">
      <h6 class="card-title">{{ data.title }}</h6>
      <p class="card-text" *ngIf="data.description.length > 100">
        {{ data.description | slice : 0 : 100 }}...
      </p>
    </div>
  </div>
  <div class="card-footer">
    <button
      type="button"
      class="btn btn-primary"
      *ngIf="!addbutton"
      (click)="addbutton = true"
    >
      add to cart
    </button>
    <div class="d-flex w-50" *ngIf="addbutton">
      <input type="number" class="form-control" [(ngModel)]="amount" />
      <button class="btn btn-danger" (click)="add();addbutton=false">add</button>
    </div>
    <p class="card-price">Price: {{ data.price | currency }}</p>
  </div>
</div>
